body {
	background-color: #000;
	font-family: "vt323";
	color: #1ec503;
}

input {
	background-color: #000;
	border-color: #000;
	border: none;
}

/*textarea{
	background-color: #000;
	outline: none;
	border-color: #000;
	border: none;
	resize: none;
}*/

input[type=text]:readonly {
  background-color: inherit;
  border: 0;

}

/*#elem6 {
	max-width:100%;
float:left;
}*/

textarea:focus, input:focus{
    outline: none;
}

.modal-content {
	background-color: #fff;
	color: #000;
}


/*-webkit-text-fill-color:#880000;*/